.background {
  background: center no-repeat url("https://raw.githubusercontent.com/StoyanD/smrSyle/master/background.png");
}

.logo {
  background-image: url("https://raw.githubusercontent.com/StoyanD/smrSyle/master/background.png");
}

.progressBar {
  background-color: #FF9933;
}

.splash {
  background-image: url("https://raw.githubusercontent.com/StoyanD/smrSyle/master/background.png");
}
